---
import MainLayout from "@layouts/Layout.astro"
// export const prerender = true
---

<MainLayout
  title="404"
  textDir="ltr"
  repoUrl="https://content.bibletranslationtools.org/"
>
  <body>
    <div class="grid place-content-center w-full pt-16 text-center">
      <h1 class="text-secondary text-[128px]">404</h1>
      <p class="text-4xl text-center leading-relaxed">
        Sorry, we couldn't find that page.
      </p>
    </div>
  </body>
</MainLayout>
