---
import Layout from "../layouts/Layout.astro"
---

<Layout
  title="Read on Web"
  textDir="ltr"
  repoUrl="https://content.bibletranslationtools.org/"
>
  <main>
    <!-- noop. No home page -->
  </main>
</Layout>

<script>
  // If landing on home page, absent a home page (above), just redirect to last visited page.  Updates as you nav throught the app
  import { get } from "idb-keyval"
  async function goToLastVisted() {
    let lastVisted = await get("lastPageVisited")
    window.location.href = lastVisted
      ? lastVisted
      : "/WycliffeAssociates/en_ulb/?book=John&chapter=1"
  }
  goToLastVisted()
</script>
